/**************************************** GENERALE **/

body{
  font-family: 'Lato', sans-serif;
}

a,
a:hover {
  text-decoration: none;
}

.btn:hover{
  background: #fff;
  color: #000;
  border-radius: 0;
  border: transparent;
}
.btn{
  background: #ff281f;
  color: #fff;
  border-radius: 0;
  border: transparent;
}

.btn:active{
  border: transparent;

}

.row,
.justify-content-start{
  margin: 0px;
  padding: 0px;
}

/**************************************** HOME **/

/* titolo */

.top-bar{
  background-color: #212121;
  color: #fff;
  width: auto;
  height: 30px;
}

.top-bar a,
.top-bar a:hover,
.top-bar a:active{
  font-size: 12px;
  color: #fff;
}

.btn-top-bar{
  height: 25px;
  font-size: 12px;
  background-color: #ff281f;
  border: transparent;
  outline: none;
}
.btn-top-bar:hover{
  height: 25px;
  font-size: 12px;
  background-color: #ff281f;
  border: transparent;
  outline: none;
}
.btn-top-bar:active{
  height: 25px;
  font-size: 12px;
  background-color: #ff281f;
  border: 0;
  outline: none;
}

.img-logo{
  margin-top: 90px;
}

.menu{
  height: 320px;
}

.carousel-inner,
.carousel .slide{
  height: 320px;
}

/* form ricerca*/

.form-control{
  border: 1px solid #ff281f;
  border-radius: 0;
}

.filter-ret{
  display: inline-block;
  text-align: center;
  background-color: #ff281f;
  color: #fff;
  padding: 5px;
}

.card-title{
  text-transform: uppercase;
  font-weight: bold;
}

.card-img-top{
  width: auto;
  height: 190px;
  border-radius: 0;
}

.card-console-xboxone{
	padding-top: 2px;
	background-color: #00A000;
	height: 30px;
	color: #f8f8f8;
}

.card-console-ps4{
	padding-top: 2px;
	background-color: #000;
	height: 30px;
	color: #f8f8f8;
}

.card-console-ps3{
	padding-top: 2px;
	background-color: #E1E1E1 ;
	height: 30px;
	color: #000;
}

.card-console-nintendo{
	padding-top: 2px;
	background-color: #ffc400;
	height: 30px;
	color: #000;
}

.card-console-switch{
	padding-top: 2px;
	background-color: #000080;
	height: 30px;
	color: #f8f8f8;
}

.card-deck .card{
  margin-right: 8px;
  margin-left: 8px;
  border-radius: 0;
}

.fa-power-off{
	margin-right: 5px;
}

.card{
  width: 32%;
  margin-right: 4px;
  margin-left: 4px;
  border: 0px;
  background-color: #F8F8F8;
  color : #212121;
}

.table h1{
  font-size: 15px;
  font-weight: bold;
}

.table p{
  font-size: 10px;
}

.badge{
  font-size: 15px;
  background-color: #ff281f;
  color: #fff;
}

.pb-neg{
  margin-top: 65px;
}

.pt-neg{
  margin-top: -310px;
}

.btn-neg{
  margin-left: -30px;
  border-bottom: 2px solid #ff281f;
}

.input-group-text{
  width: 90px;
}

.page-link{
  color: #212121;
}

.page-link:hover{
  color: #fff;
  background-color: #ff281f;
}



/* jumbotron footer*/

.jumb-footer{
  background: #212121;
  margin-bottom: -20px;
  color: #fff;
  height: 220px;
  text-align: center;
}
.jumbotron p{font-weight: 100;}


/**************************************** CARRELLO **/


/* tabella acquisti*/

.table-bordi{border: 2px solid #ff281f; border-radius: 25px; margin-bottom: 20px;padding: 20px;}

.buttom-text-carrello button{text-transform: uppercase;font-weight: 400; font-size: 36px;}



/**************************************** T-SHIRT **/


.border-card-tshirt-sx{border: 2px solid #ff281f; border-radius: 25px 0 0 25px; margin-bottom: 20px;padding: 20px;}
.border-card-tshirt-center{border: 2px solid #ff281f; margin-bottom: 20px;padding: 20px;}
.border-card-tshirt-dx{border: 2px solid #ff281f; border-radius: 0 25px 25px 0; margin-bottom: 20px;padding: 20px;}

.card-footer-tshirt{background-color: transparent; width: auto; height: auto; margin-bottom: -40px; margin-top: 30px}


.text-center-tshirt{text-align: center; font-weight: 900;}


/**************************************** LOGIN **/

.fa-user-login{font-size: 250px;padding-top: 40px;padding-left: 100px;}
